html{
  scroll-behavior: smooth;
}

body {
    margin: 0;
  }

div.page1{
    background-image: url("images/bg/mountain.jpg");
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}  

@media screen and (max-width: 650px){
    div.page1 {
    background-image: url("images/bg/mountain1.jpg");
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    }
}

.topnav {
  overflow: hidden;
  background-color: rgb(33,57,112,1);
  position: fixed;
  width: 100%;
}
  
.topnav a {
  float: right;
  opacity: 1;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}


.topnav a.username:not([href]):not([tabindex]) {
  color: white;
  float: left;
  text-decoration: none;
  font-size: 25px;
  text-shadow: 2px 2px darkgrey;
  padding: 13px;
}

.topnav a.username:not([href]):not([tabindex]):hover{
 
    background-color: #213970;
    color: white;
    text-shadow: 2px 2px darkgrey;

}
  
  .topnav a:hover {
    background-color: #ddd;
    color: #213970;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 650px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 650px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive a.username:not([href]):not([tabindex]) {
      display: none;
    }
  }

 div.content{
    width: 83%;
    padding-left: 10%;
    padding-top: 21%;
 }
 div.welcome h2{
   font-style: italic;
   font-family: "Amita";
   font-size: 35px;
   font-weight: bolder;
   text-align: center;
   color: #213970;
   text-shadow: 2px 2px #f2f2f2;
   width: 80%;


 }

 div.message {
  font-family: "Bad Script";
  font-size: 30px;
  font-weight: bold;
  text-align: justify;
  color: #201c1c;
  width: 80%;

 }



@media screen and (max-width: 650px){
  div.content{
    padding-left: 3%;
    padding-top: 25%;
    padding-right: 6%;
  }

  h2.welcome{
    font-size: 25px;
  }

  div.message p{
    font-size: 20px;
  }
  .content .message .lower p{
    margin-bottom: 0px;
  }
}


div.page2{
  background-image: url("images/bg/altkeyboard.jpg");
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.secondheading {
padding-top: 5%;
}

.secondheading h1{
font-style: italic;
font-family: "Abril Fatface";
font-size: 45px;
font-weight: bolder;
text-align: center;
color: #ddd;
text-shadow: 2px 2px black;
font-weight: bolder;
}

.secondheading p{
color: black;
font-weight: bold;
font-size: 19px;
text-align: center;
text-shadow: 2px 2px white;
}

div.icons1{
padding-top: 2%;
display: inline-block;
width: 100%;
}

div.icons1 article div.python{
float: left;
padding-left: 3%;
}

div.icons1 article div.html{
float: right;
padding-right: 3%;

}

.icons1 article img{
width: 200px;
border-radius: 100%;
}



div.icons2{ 
display: inline-block;
width: 100%;
padding-top: 10%;
}

div.icons2 article div.cpp{
float: left;
padding-left: 3%;
}

div.icons2 article div.sql{
float: right;
padding-right: 3%;
}

.icons2 article img{
width: 200px;
border-radius: 100%;
}


div.page3{
  background-image: url("images/bg/project1.jpg");
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.thirdheading {
  padding-top: 5%;
}

.thirdheading h1{
  font-style: italic;
   font-family: "Abril Fatface";
   font-size: 45px;
   font-weight: bolder;
   text-align: center;
   color: #ddd;
   text-shadow: 2px 2px darkgray;
   font-weight: bolder;
}

.project1{
   padding-left: 2%;
   padding-top: 4%;
   padding-bottom: 4%;
}

.project1 article .imagelink1{
    display: inline-block;
    vertical-align: middle;
    width: 42%;
}

.project1 article .imagelink1 img{
    display: block;
    width: 100%;
    border-radius: 6%;
}

.project1 article .inner{
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.project1 article .inner p{
  color: #ddd;
  font-weight: bold;
  font-size: 19px;
  padding-left: 5%;
}

.project2{
  padding-left: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.project2 article .imagelink2{
   display: inline-block;
   vertical-align: middle;
   width: 42%;
}

.project2 article .imagelink2 img{
   display: block;
   width: 100%;
   border-radius: 6%;
}

.project2 article .inner{
 display: inline-block;
 vertical-align: middle;
 width: 50%;
}

.project2 article .inner p{
 color: #ddd;
 font-weight: bold;
 font-size: 19px;
 padding-left: 5%;
}

@media screen and (max-width: 736px){
  div.page3{
    height: auto;
  }

  .project1 article .imagelink1 {
    display: block;
    margin: 0 0 2.25em 0;
    padding-right: 0;
    width: 100%;
}
    
.project1 article .inner {
    display: block;
    width: 100%;
}

  .project2 article .imagelink2 {
    display: block;
    margin: 0 0 2.25em 0;
    padding-right: 0;
    width: 100%;
}
  .project2 article .inner {
      display: block;
      width: 100%;
  }
  }


  div.page4{
    background-image: url("images/bg/contact.jpg");
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .fourthheading{
    padding-top: 5%;
  }

  .fourthheading h1{
  font-style: italic;
   font-family: "Abril Fatface";
   font-size: 45px;
   font-weight: bolder;
   text-align: center;
   color: #ddd;
   text-shadow: 2px 2px darkgray;
   font-weight: bolder;
}

.page4 .center{
  padding: 13% 2%;
  text-align: center;
}

.page4 .center a{
  margin: 3%;
}

.page4 .center i{
  padding: 1%;
  font-size:120px;
  color: rgb(25, 123, 153); 
  background-color: black;
  border-radius: 100%;
}

